src/jaguar/dtd/dfa.dtd

<?xml version="1.0" encoding="iso-8859-1"?>

<!ELEMENT sym (#PCDATA)>

<!ELEMENT alph (sym)*>

<!ELEMENT str (epsilon|(sym)+)>

<!ELEMENT epsilon EMPTY>

<!ELEMENT state (#PCDATA)>

<!ATTLIST state xpos CDATA #IMPLIED>

<!ELEMENT stateSet (state)*>

<!ELEMENT description (#PCDATA)>

<!-- Aquí comienza, propiamente la definición de un DFA --> 

<!ELEMENT trans (state, sym, state)>

<!ELEMENT delta (trans)*>

<!ELEMENT dfa (description?, stateSet, alph, delta, state, stateSet)>